@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&display=swap');

* {
    font-family: Marhey;
    margin-bottom: 20px;
}
body {
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#input {
    width: 70px;
    font-size: 30px;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    border: solid 2px orangered;
    outline: none;
}
button  {
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin-right: 20px;
    font-size: 25px;
    font-weight: bold;
    transition: 0.2s;
}
#checkBtn:hover {
    transform: translateY(2px);
    background-color: rgb(160, 104, 0);
    color: white;
}
#checkBtn:active {
    transform: scale(0.9);
}

#resetBtn:hover {
    transform: translateY(2px);
    background-color: rgb(218, 136, 104);
    color: white;
}
#resetBtn:active {
    transform: scale(0.9);
}

#resetBtn {
    background-color: lightsalmon;
}
#checkBtn {
    background-color: orange;

}

#input:focus {
    border-color: #d59602;
    box-shadow: 0 0 5px #d59602;
}

#checkBtn:disabled{
    background-color: gray;
    color: black;
    cursor: not-allowed;
}

#checkBtn:disabled:hover, #checkBtn:disabled:active {
    background-color: gray;
    color: black;
    transform: none;
}